/* BODY */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: table;
    width: 100%;
    overflow: visible;
}


/* 

PAGE ACCUEIL

*/


/* BARRE DE NAVIGATION */


/* couleur de la navbar */

.navbar {
    background-color: #c0392b;
}


/* Taille du logo */

.navbar #logo_site {
    width: 156px;
}


/* police */

.navbar .nav-link {
    font-family: "Rock Salt", cursive;
}


/* Taille de la barre de recherche */

.navbar .form-control,
.btn-outline-secondary {
    height: 53px;
}


/* Modifier le curseur du lien "sous menu" */

.navbar .nav-item #lien_sous_menu {
    cursor: pointer;
}


/* SOUS MENU */


/* Couleur du sous menu */

#sous_menu {
    background-color: #a8ae00;
    background: linear-gradient(#a8ae00, #2ecc71);
    display: none;
}


/* Taille des images */

#sous_menu .logo_produit {
    width: 170px;
}


/*  liens */

#sous_menu .lien_produit {
    font-family: "Rock Salt", cursive;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}


/* liens au survol */

#sous_menu .lien_produit:hover {
    color: #c41215;
    transition-duration: 0.5s;
    text-decoration: none;
}


/* CONTENU */


/* Taille du titre du contenu */

#content #intro {
    font-size: 26px;
}


/* FOOTER */

footer {
    display: table-row;
    height: 100px;
    background-color: ;
}


/* 

PAGE INSCRIPTION

*/


/* Formulaire de connexion */

#connexion,
#inscription {
    display: none;
}


/*

PAGE FICHE PRODUIT

*/

.boutonValider {
    width: 100%;
    margin: 0;
}

.suppléments {
    display: none;
}

.image_plus {
    width: 50px;
    border: none;
    background: none;
    outline: none;
}


/* Image côté administrateur */

.imagePlat {
    width: 100px;
}

#informations ul li {
    list-style-type: none;
    margin-top: 20px;
}

#modifierInformations,
#modifierMail,
#modifierMDP {
    display: none;
}


/* image carousel */

.carousel img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 550px;
    max-height: 550px;
    width: auto;
}

.carousel-control-next {}